@page
@using Microsoft.AspNetCore.Razor.Hosting
@using Sorling.SqlConnAuthWeb
@attribute [RazorCompiledItemMetadata("RouteTemplate", SqlAuthConsts.URLROUTETEMPLATECONNECT)]
@model Sorling.SqlConnAuthWeb.areas.sqlconnauth.pages.ConnectModel
@{
    ViewData["Title"] = "Sign in";
    var firstError = ModelState.Values.SelectMany(v => v.Errors).FirstOrDefault()?.ErrorMessage;
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="form-box">
        <form method="post" onsubmit="document.getElementById('submitBtn').disabled = true; document.getElementById('spinner').style.display = 'inline-block'; if(window.SqlAuthRecent) window.SqlAuthRecent.addRecentServerUser();">
            @if (Model.IsWinAuth)
            {
                <p class="info-message">Sign in to the SQL server @Model.SqlServer using Windows authentication.</p>
            }
            else
            {
                <p class="info-message">Sign in to the SQL server @Model.SqlServer with user name <span class="nowrap">@Model.SqlUserName</span></p>
            }
            @if (!string.IsNullOrEmpty(firstError))
            {
                <div class="error-message">@firstError</div>
            }
            <div class="form-group">
                @if (Model.IsWinAuth)
                {
                    <input hidden type="text" name="Input.Password" value="@SqlAuthConsts.WINDOWSAUTHENTICATION">
                }
                else
                {
                    <label asp-for="Input.Password"></label>
                    <span asp-validation-for="Input.Password" class="error-text"></span>
                    <input asp-for="Input.Password" autocomplete="current-password" class="form-control" autofocus>
                }
            </div>
            <div class="form-group">
                <label asp-for="Input.TrustServerCertificate"></label>
                <input asp-for="Input.TrustServerCertificate">
            </div>
            <div class="form-actions">
                <button id="submitBtn" type="submit" class="btn btn-primary">Sign in</button>
                <span id="spinner" class="custom-spinner" style="display:none;"></span>
            </div>
        </form>
    </div>
</div>
